@model krka_naloga2.Models.PorociloModel
@{
    ViewData["Title"] = "Porocilo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        function print(sifra) {
            window.open('/Dostava/' + sifra + '/Tiskaj', '_blank', 'width=1090,height=595,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
        }
    </script>
}

<h1>Porocilo</h1>

@if (Model == null || Model.Dostava == null)
{
    <div>
        <p>Dostava ne obstaja!</p>
    </div>
}
else
{
    <partial name="PorociloPodatki" model="Model.Dostava"/>
    <button onclick="print(@Model.Dostava.Sifra)">Natisni</button>
    <a href="@Html.Raw($"mailto:?subject=Dostava%20{Model.Dostava.Sifra}&body={Model.MailMessage}")">
        Pošlji poročilo
    </a>
}


