@model krka_naloga2.Models.PorociloModel
@{
    ViewData["Title"] = "Tiskaj";
    Layout = "~/Views/Shared/_LayoutTiskaj.cshtml";
}

@if (Model == null || Model.Dostava == null)
{
    <div>
        <p>Dostava ne obstaja!</p>
    </div>
}
else
{
    <partial name="PorociloPodatki" model="Model.Dostava" />
}
